<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
    <title>Agregar</title>
</head>
<body>
    <div class="main_container">

        <div class="content">
            <h1>AGREGAR LIBRO</h1>
            <form action="{{ url_for('libro.add')}}" method="post" enctype="multipart/form-data">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>

                <label for="genero">Género:</label>
                <select id="genero" name="genero" required>
                    <option value="" disabled selected>Seleccione una categoría</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.nombre }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>

                <div class="link_container">
                    <button class="styled-link" type="submit">AGREGAR</button>
                </div>
            </form>
        </div>

    </div>
</body>
</html>
